<!-- templates/base.html -->

{% extends 'bootstrap.html' %}

{% load bootstrap4 %}

{% block bootstrap4_content %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'MyInfo' %}"><button type="button" class="btn btn-outline-dark">MyInfo</button></a>

      <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'PoliticianProfiles' %}"><button type="button" class="btn btn-outline-dark">PoliticianProfiles</button></a>
      </div>

      <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'profile_new' %}"><button type="button" class="btn btn-outline-dark">Add Profile</button></a>
      </div>

      <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'PollingInfo' %}"><button type="button" class="btn btn-outline-dark">PollingInfo</button></a>
      </div>

      <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'VotingReminder' %}"><button type="button" class="btn btn-outline-dark">VotingReminder</button></a>
      </div>

      <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'VotingQuestionsAndTips' %}"><button type="button" class="btn btn-outline-dark">VotingQuestionsAndTips</button></a>
      </div>

    </nav>

    <div class="container">

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}
